h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --text-color: #757575;
  --section-bg-color: #f5f4fa;
  --bg-color: #2f303a;
  --info-color: #ffffff;
  --second-family: "Raleway";
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-bottom: 25px;
  padding-top: 24px;
  border: 1px solid #ececec;
}

.header__position {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  display: block;
}

.logo__web {
  color: #2196f3;
}

.logo__studio {
  color: #212121;
}

.logo__studio--white {
  color: #f5f4fa;
}

.nav__list {
  display: flex;
  margin-left: 93px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.nav__link {
  position: relative;
  color: #212121;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: #2196f3;
}

.nav__link:hover::after {
  position: absolute;
  top: 45px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
}

.contacts {
  display: flex;
  margin-left: auto;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.contacts__item {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover {
  color: #2196f3;
}

.contacts__link:hover .contact--link__icon {
  fill: #2196f3;
}

.contacts__icon {
  fill: #757575;
  margin-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../img/hero_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overlay: grey;
}
.hero .hero__title {
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}
.hero .hero__button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #2196f3;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}

.features {
  padding-bottom: 94px;
  padding-top: 94px;
}
.features .features__name {
  display: none;
}
.features .features-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.features .features-list__title {
  line-height: 1.143;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.42px;
  margin-bottom: 10px;
  color: #212121;
}
.features .features-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
.features .features-list__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.services__section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.services__section .services__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.services__section .services__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 50px;
}
.services__section .services__list .services__item {
  position: relative;
  text-align: center;
  flex-basis: calc((100% - 60px) / 3);
}
.services__section .service-list__title {
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.our__team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.our__team .our__team--title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.our__team .team__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.our__team .team__list .team__item {
  flex-basis: calc((100% - 90px) / 4);
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.our__team .team__list .team__name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.our__team .team__item article {
  padding: 30px 0;
  background-color: #ffffff;
}
.our__team .team__position {
  font-family: Roboto;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 10px;
}
.our__team .social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.our__team .social__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our__team .social__item:hover {
  background-color: #2196f3;
  border-radius: 50%;
}
.our__team .social__item:hover .social__icon {
  fill: #ffffff;
}
.our__team .social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.our__team .social__icon {
  fill: #757575;
}

.our__clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our__clients .our__clients--title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.our__clients .our__clients--list {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.our__clients .our__clients--list .our__clients--item {
  width: 170px;
  height: 102px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our__clients .our__clients--list .our__clients--item:hover {
  border: 1px solid #2196f3;
}
.our__clients .our__clients--list .our__clients--item .our__clients--logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
.our__clients .our__clients--list .our__clients--item .our__clients--logo:hover .our__clients--logo {
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 1;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(47, 48, 58, 0.4);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  border-radius: 4px;
  width: 528px;
  height: 581px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  position: absolute;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  top: 50%;
  left: 50%;
}

.button-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  left: 490px;
  top: 8px;
  width: 30px;
  height: 30px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-form {
  margin-top: 12px;
}

.modal-form__name {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.modal-form__wrapper {
  position: relative;
  width: 440px;
  margin-bottom: 10px;
  padding-left: 1px;
}

.modal-form__field {
  width: 448px;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal-form__field:focus {
  border: 1px solid #2196f3;
}

.modal-form__field:focus ~ .modal-form__icon {
  fill: #2196f3;
}

.modal-form__icon {
  position: absolute;
  top: 13px;
  left: 12px;
}

.modal-form__field {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.modal-form__rights {
  display: flex;
}

.modal-form__text {
  margin-left: 8px;
}

.modal-form__rules {
  margin-left: 5px;
}

.button-send {
  margin: 0 auto;
  margin-left: 164px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__position {
  display: flex;
}

.footer__contacts {
  margin-top: 20px;
  font-style: normal;
}

.footer__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 4px;
  color: #ffffff;
  width: 220px;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link + .footer__link {
  margin-top: 9px;
}

.social__footer--position {
  display: flex;
  flex-direction: column;
}

.footer__socials {
  margin-left: 70px;
  margin-top: 12px;
}

.social__footer--title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #f5f4fa;
}

.social__footer--list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.social__footer--item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__footer--link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social__footer--item:hover {
  background-color: #2196f3;
  border-radius: 50%;
}

.social__footer--item:hover .social__icon {
  fill: #f5f4fa;
}

.social__footer--icon {
  fill: #f5f4fa;
}

.subscribe {
  margin-left: 93px;
  margin-top: 12px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f5f4fa;
  margin-bottom: 20px;
}

.footer__subscribe--input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
}

.footer__form {
  display: flex;
}

.subscribe__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
}

.subcribe__telegram--icon {
  margin-left: 10px;
}

.project__section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.project__section .filter__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.project__section .filter__list .filter__item {
  margin-right: 8px;
}
.project__section .filter__list .filter__item .filter__btn {
  border-radius: 4px;
  border: none;
  padding: 6px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.project__section .filter__list .filter__item .filter__btn:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.project__section .project__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project__section .project__list .project__item {
  flex-basis: calc((100% - 60px) / 3);
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
}
.project__section .project__list .project__item:hover, .project__section .project__list .project__item::focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.project__section .project__list .project__item:hover .overlay__text {
  transform: translateY(0%);
}
.project__section .project__overlay {
  position: relative;
  overflow: hidden;
}
.project__section .project__overlay .overlay__text {
  height: 294px;
  padding: 63px 24px;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.project__section .project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
  margin-left: 24px;
  margin-top: 20px;
}
.project__section .project__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 24px;
}/*# sourceMappingURL=main.css.map */