:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --text-color: #757575;
  --section-bg-color: #f5f4fa;
  --bg-color: #2f303a;
  --info-color: #ffffff;
  --second-family: "Raleway";
}

.container {
  width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  max-width: 1600px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-bottom: 25px;
  padding-top: 24px;
}

.header-position {
  display: flex;
  align-items: center;
}

.box-link,
.footer-box-link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: black;
}

.nav-list {
  display: flex;
  margin-left: 93px;
  column-gap: 50px;
}

.nav-link {
  position: relative;
  color: var(--main-color);
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link::after {
  position: absolute;
  top: 30px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 500ms ease, tranform 500ms ease;
  transform: scaleX(0);
}

.nav-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.contacts {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}

.contact-item {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contact-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-link:hover {
  color: #2196f3;
}

.contact-link-icon {
  fill: #757575;
  margin-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../img/hero_img.jpg);
  background-repeat: no-repeat;
  overlay: grey;
}

.hero-title {
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}

.hero-button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: var(--accent-color);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}

.features {
  padding-bottom: 94px;
  padding-top: 94px;
}

.features-name {
  display: none;
}

.features-list {
  display: flex;
  column-gap: 30px;
}

.features-title {
  line-height: 1.143;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.42px;
  margin-bottom: 10px;
  color: #212121;
}

.features-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.services-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}

.services-item {
  position: relative;
  text-align: center;
  flex-basis: calc((100% - 60px) / 3);
}

.service-offer-title {
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  /* padding: 10px; */
  font-size: 14px;
  font-weight: bold;
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  column-gap: 30px;
}

.team-name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
}

.team-item {
  /* width: 270px; */
  flex-basis: calc((100% - 90px) / 4);
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-position {
  font-family: Roboto;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 10px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item:hover {
  background-color: #2196f3;
  border-radius: 50%;
}

.social-item:hover .social-icon {
  fill: #fff;
}

.social-icon {
  fill: #757575;
}

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.our-clients-list {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  column-gap: 30px;
}

.our-clients-item {
  width: 170px;
  height: 102px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-clients-item:hover {
  border: 1px solid #2196f3;
}

.our-clients-logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.our-clients-item:hover .our-clients-logo {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}

.footer-position {
  display: flex;
  /* align-items: center; */
}

.footer-box-link {
  display: block;
  margin-bottom: 20px;
}

.footer-logo-studio {
  color: #fff;
}

.footer-contacts {
  font-style: normal;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 4px;
  color: #fff;
  width: 220px;
}

.footer-list {
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link + .footer-link {
  margin-top: 9px;
}

.social-footer-position {
  display: flex;
  flex-direction: column;
}

.footer-socials {
  margin-left: 70px;
  margin-top: 12px;
}

.social-footer-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  /* padding-top: 12px; */
  color: #fff;
}

.social-footer-list {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  column-gap: 10px;
}

.social-footer-item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-footer-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-footer-item:hover {
  background-color: #2196f3;
  border-radius: 50%;
}

.social-footer-item:hover .social-icon {
  fill: #fff;
}

.social-footer-icon {
  fill: white;
}

.subscribe {
  margin-left: 93px;
  margin-top: 12px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
}

.footer-form {
  display: flex;
}

.subscribe-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  color: #fff;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
}

.subcribe-telegram-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(47, 48, 58, 0.4);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  border-radius: 4px;
  width: 528px;
  height: 581px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  left: 490px;
  top: 8px;
  width: 30px;
  height: 30px;
}

.modal-form {
  margin-left: 40px;
  margin-top: 12px;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 40px;
}

.modal-field-name {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.modal-input-wrapper {
  position: relative;
  margin-bottom: 10px;
  padding-left: 1px;
}

.modal-input-field {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-input-field:hover {
  border: 1px solid #2196f3;
}

.modal-input-field:hover ~ .modal-input-name {
  fill: #2196f3;
}

.modal-input-field:hover ~ .modal-input-phone {
  fill: #2196f3;
}

.modal-input-field:hover ~ .modal-input-email {
  fill: #2196f3;
}

.modal-input-name {
  position: absolute;
  top: 13px;
  left: 12px;
}

.modal-input-phone {
  position: absolute;
  top: 14px;
  left: 12px;
}

.modal-input-email {
  position: absolute;
  top: 10px;
  left: 12px;
}

.modal-comment-field {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.modal-form-rights {
  display: flex;
}

.modal-form-text {
  margin-left: 8px;
}

.modal-form-rules {
  margin-left: 5px;
}

.modal-button {
  /* display: block; */
  margin: 0 auto;
  margin-left: 164px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}

.project-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.filter-item {
  margin-right: 8px;
}

.filter-btn {
  border-radius: 4px;
  border: none;
  padding: 6px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.filter-btn:hover {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  flex-basis: calc((100% - 60px) / 3);
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
}

.project-item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.project-item:hover .project-overlay .overlay-text {
  transform: translateY(0%);
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  height: 294px;
  padding: 63px 24px;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
}

.overlay-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
  margin-left: 24px;
  margin-top: 20px;
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 24px;
}
