.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bg-color;
}

.footer__position {
  display: flex;
}

.footer__contacts {
  margin-top: 20px;
  font-style: normal;
}

.footer__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 4px;
  color: $info-color;
  width: 220px;
}

.footer__list {
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link + .footer__link {
  margin-top: 9px;
}

.social--footer__position {
  display: flex;
  flex-direction: column;
}

.footer__socials {
  margin-left: 70px;
  margin-top: 12px;
}

.social--footer__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $section-bg-color;
}

.social--footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.social--footer__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social--footer__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social--footer__item:hover {
  background-color: $accent-color;
  border-radius: 50%;
}

.social--footer__item:hover .social-icon {
  fill: $section-bg-color;
}

.social--footer__icon {
  fill: $section-bg-color;
}

.subscribe {
  margin-left: 93px;
  margin-top: 12px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $section-bg-color;
  margin-bottom: 20px;
}

.footer--subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
}

.footer__form {
  display: flex;
}

.subscribe__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  color: $info-color;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: $accent-color;
}

.subcribe--telegram__icon {
  margin-left: 10px;
}