.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: url(../img/hero_bg_mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  overlay: grey;
  @media screen and (min-width:768px) {
    background-image: url(../img/hero_bg_tablet.png);;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../img/hero_img.jpg);
  }

  .hero__title {
    text-transform: uppercase;
    width: 360px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    color: $info-color;
    @media screen and (min-width:1200px) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  .hero__button {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    // border: none;
    background-color: $accent-color;
    // width: 216px;
    // height: 50px;
    // border-radius: 4px;
    @include colored-button(200px);
    padding: 10px 23px;
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.87;
    // letter-spacing: 0.06em;
    // text-align: center;
    @media screen and (min-width:1200px) {
      @include colored-button(216px);
      padding: 10px 31px;
    }
    color: $info-color;
  }
}
