.our__team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $section-bg-color;
  .our__team--title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $main-color;
    margin-bottom: 50px;
  }
  .team__list {
    display: flex;
    column-gap: 30px;
    .team__item {
      flex-basis: calc((100% - 90px) / 4);
      border-radius: 0 0 8px 8px;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    }
    .team__name {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-align: center;
    }
  }
  .team__item article {
    padding: 30px 0;
    background-color: $info-color;
  }

  .team__position {
    font-family: Roboto;
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 10px;
  }

  .social__list {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    @extend %flex;
    column-gap: 10px;
  }

  .social__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    @extend %flex;
    transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
    background-color: $accent-color;
    border-radius: 50%;
  }
    &:hover .social__icon {
      fill: $info-color;
    }
  }

  .social__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    // align-items: center;
    // display: flex;
    // justify-content: center;
    @extend %flex;
  }

  .social__icon {
    fill: $text-color;
  }
}
