.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  column-gap: 30px;
}

.team-name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  /* margin-top: 30px; */
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-item article {
  padding: 30px 0;
  background-color: #fff;
}

.team-position {
  font-family: Roboto;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 10px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.social-item:hover {
  background-color: #2196f3;
  border-radius: 50%;
}

.social-item:hover .social-icon {
  fill: #fff;
}

.social-icon {
  fill: #757575;
}
